USE [master]
GO
/****** Object:  Database [PRODUCT]    Script Date: 7/16/2025 5:05:25 PM ******/
CREATE DATABASE [PRODUCT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRODUCT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRODUCT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRODUCT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRODUCT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRODUCT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRODUCT]
GO
/****** Object:  Table [dbo].[PRODUCTSALES]    Script Date: 7/16/2025 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTSALES](
	[SALEID] [int] NOT NULL,
	[PRODUCTCODE] [nvarchar](20) NOT NULL,
	[PRODUCTNAME] [nvarchar](100) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[UNITPRICE] [decimal](18, 2) NOT NULL,
	[SALEDATE] [date] NULL,
 CONSTRAINT [pkProductSale] PRIMARY KEY CLUSTERED 
(
	[SALEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRODUCTSALES] ([SALEID], [PRODUCTCODE], [PRODUCTNAME], [QUANTITY], [UNITPRICE], [SALEDATE]) VALUES (1, N'P001', N'Pen', 10, CAST(1.50 AS Decimal(18, 2)), CAST(N'2025-06-20' AS Date))
INSERT [dbo].[PRODUCTSALES] ([SALEID], [PRODUCTCODE], [PRODUCTNAME], [QUANTITY], [UNITPRICE], [SALEDATE]) VALUES (2, N'P001', N'Pen', 5, CAST(1.50 AS Decimal(18, 2)), CAST(N'2025-06-25' AS Date))
INSERT [dbo].[PRODUCTSALES] ([SALEID], [PRODUCTCODE], [PRODUCTNAME], [QUANTITY], [UNITPRICE], [SALEDATE]) VALUES (3, N'P002', N'Notebook', 3, CAST(3.20 AS Decimal(18, 2)), CAST(N'2025-06-21' AS Date))
GO
/****** Object:  StoredProcedure [dbo].[SelectDateRange]    Script Date: 7/16/2025 5:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SelectDateRange](
	@sDate date = null,
	@eDate date = null
) as begin
	if @sDate is not null and @eDate is not null begin
		select SALEID, PRODUCTCODE, PRODUCTNAME, QUANTITY, UNITPRICE, SALEDATE, UNITPRICE * QUANTITY AS TOTAL
		from dbo.PRODUCTSALES 
		where SALEDATE between @sDate and @eDate
	end
	else begin
		select SALEID, PRODUCTCODE, PRODUCTNAME, QUANTITY, UNITPRICE, SALEDATE, UNITPRICE * QUANTITY AS TOTAL
		from dbo.PRODUCTSALES 
	end
end
GO
USE [master]
GO
