<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C__Test.Properties.Settings.PRODUCTConnectionString"
            connectionString="Data Source=RITHDESKTOP;Initial Catalog=PRODUCT;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="PRODUCTConnectionString" connectionString="XpoProvider=MSSqlServer;data source=RITHDESKTOP;integrated security=SSPI;initial catalog=PRODUCT;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>